<h1>{{ model.title }}&nbsp;
    <a href="/gallery/update/{{ model.id }}"><i style="color:cornflowerblue" class="fa fa-edit fa-fw"></i></a>
</h1>

<img class="img-responsive" src="{{ model.imageUrl }}" width="100%">
